<!DOCTYPE html>
<html lang="en">
<head>
    @await Component.InvokeAsync("_HeadComponentPartial")
</head>
<body>

    <div id="wrapper">
        <header class="market-header header">
            <div class="container-fluid">
                @await Component.InvokeAsync("_NavbarComponentPartial")
            </div>
        </header>
        @RenderBody()
        @await Component.InvokeAsync("_FooterComponentPartial")
        <div class="dmtop"></div>
    </div>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
