
<div class="sidebar">
	<div class="scrollbar-inner sidebar-wrapper">
		@* <div class="user">
			<div class="photo">
				<img src="~/Ready-Dashboard/assets/img/profile.jpg">
			</div>
			<div class="info">
				<a class="" data-toggle="collapse" href="#collapseExample" aria-expanded="true">
					<span>
						Hizrian
						<span class="user-level">Administrator</span>
						<span class="caret"></span>
					</span>
				</a>
				<div class="clearfix"></div>

				<div class="collapse in" id="collapseExample" aria-expanded="true" style="">
					<ul class="nav">
						<li>
							<a href="#profile">
								<span class="link-collapse">My Profile</span>
							</a>
						</li>

					</ul>
				</div>
			</div>
		</div> *@
		<ul class="nav">
			<li class="nav-item active">
				<a href="/Author/Admin/Index">
					<i class="la la-home"></i>
					<p>Dashboard</p>
					
				</a>
			</li>
				<li class="nav-item active">
				<a href="/Author/Profile/EditMyProfile">
					<i class="la la-user"></i>
					<p>Profile</p>
					
				</a>
			</li>
			<li class="nav-item">
				<a href="/Author/Article/Index">
					<i class="la la-buysellads"></i>
					<p>My Article</p>
					
				</a>
			</li>
			<li class="nav-item">
				<a href="/Author/Comment/MYCommentList">
					<i class="la la-weixin"></i>
					<p>My Comment</p>
					
				</a>
			</li>
			<li class="nav-item">
				<a href="/Author/Category/CategoryList">
					<i class="la la-archive"></i>
					<p>Categories</p>
					
				</a>
			</li>
			<li class="nav-item">
				<a href="/Login/Index">
					<i class="la la-bell"></i>
					<p>Log out</p>
					
				</a>
			</li>



		</ul>
	</div>
</div>