@model List<Comment>

@{
    ViewData["Title"] = "MyCommentList";
    Layout = "~/Areas/Author/Views/Shared/_AdminLayout.cshtml";
    int row = 0;
}
<h2>Comment List</h2>

<table class="table mt-3">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Comment</th>
            <th scope="col">Delete</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            row++;
            <tr>
                <td>@row</td>
                <td>@item.CommentDetail</td>
                 <td><a href="/Author/Comment/DeleteComment/@item.CommentId" class="btn btn-danger">Delete</a></td>

            </tr>
        }
        
      

    </tbody>

</table>
